<nav>
  <div class="nav-wrapper">

    <div class="row">
      <div class="col s3 m3 l3 center">
        <a routerLink="/">
          <i class="icon icons-layers-2"></i>
        </a>
      </div>
      <div class="col s3 m3 l3 center">
        <a routerLink="/favorites">
          <i class="icon icons-star-1"></i>
        </a>
      </div>
      <div class="col s3 m3 l3 center">
        <a routerLink="/">
          <i class="icon icons-plus-simple-1"></i>
        </a>
      </div>
      <div class="col s3 m3 l3 center">
        <a href="javascript:void(0);" (click)="openProfileModal()">
          <i class="icon icons-profile-close-1"></i>
        </a>
      </div>
    </div>
  </div>
</nav>

<div id="login_modal" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
</div>
