<div id="profile_wrap" *ngIf="($currentUser | async) as currentUser; else loader">
  <div class="avatar"><img [src]="avatarPath(currentUser.id)" /></div>
  <div class="info">
    <div class="username">{{currentUser.username}}</div>
    <div class="email">{{currentUser.email}}</div>
  </div>

  <hr>

  <ul class="profile-list">
    <li>
      <i class="icon icons-profile-cards"></i>
      My Flashcards
    </li>
    <li>
      <i class="icon icons-settings"></i>
      Settings
    </li>
    <li>
      <a href="javascript:void(0);" (click)="logout($event)">
        <i class="icon icons-smile-sad"></i>
        Log Out
      </a>
    </li>
  </ul>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
