@import "~materialize-css/sass/components/color-variables";
@import "colors";
@import "~materialize-css/sass/materialize";
@import "icons";

$text_color: color("blue-grey", "darken-2");
$border_color: color("blue-grey", "lighten-3");
$hint_text: color("blue-grey", "lighten-1");
$light_green: #3cba92;
$medium_green: #0ba360;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: $text_color;
}

h1 {
  font-size: 2.8rem;
}

a {
  color: $medium_green;
}

input {
  font-size: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}

.preloader {
  margin: 2rem 0;

  .active .spinner-layer {
    border-color: $medium_green;
  }
}

nav {
  background-color: $light_green;
  height: 64px;
  line-height: 64px;

  a {
    display: block;
    cursor: pointer;

    .icon {
      font-size: 28px;
      line-height: 74px;
    }
  }
}

.register_hint {
  background-color: color("amber", "lighten-4");
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 3px 0 4px;
  text-align: center;
  font-size: 0.8rem;
  color: $hint_text;
}

#auth_wrap {
  background-image: linear-gradient(to bottom, $light_green 0%, $medium_green 100%);
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  position: relative;

  .close_button {
    position: absolute;
    top: 1rem;
    right: 1rem;

    .icon {
      font-size: 22px;
      color: white;
    }
  }

  .login_wrap, .registration_wrap {
    padding: 4rem 2rem;

    .title {
      text-align: center;
      font-size: 1.8rem;
      color: white;
    }

    .form_content {
      margin-top: 6rem;

      ul.form_errors {
        margin: -2.5rem 0 1rem 0;
        text-align: center;
        font-weight: 500;
        color: color("amber", "accent-2");
      }

      .input-field {
        input {
          color: white;
          border-bottom: 1px solid white;
          box-shadow: 0 0 0 0 white;

          & + label {
            color: rgba(255, 255, 255, .8);
          }

          &:focus + label {
            color: rgba(255, 255, 255, .8);
          }

          &:focus {
            box-shadow: 0 1px 0 0 white;
          }

          &.invalid {
            border-bottom: 1px solid color("amber", "accent-2");
            box-shadow: 0 1px 0 0 color("amber", "accent-2");
          }
        }

        .helper-text {
          color: color("amber", "accent-2");
        }
      }

      button {
        background-color: white;
        width: 100%;
        height: 42px;
        line-height: 42px;
        color: $medium_green;
        font-weight: 500;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
      }
    }
  }

  .hint {
    margin-top: 1rem;
    color: white;
    text-align: center;

    a {
      color: color("amber", "accent-2");
    }
  }
}

#content_wrap {
  width: 100%;
  overflow: hidden;
}

#profile_wrap {
  padding: 2rem;

  .avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto;

    img {
      width: 100%;
      border: 2px solid $light_green;
      border-radius: 50%;
    }
  }

  .info {
    margin-top: 0.5rem;
    text-align: center;

    .username {
      font-weight: 600;
      font-style: italic;
    }

    .email {
      color: $hint_text;
    }
  }

  hr {
    background-color: $border_color;
    height: 1px;
    margin: 1.5rem 0;
    border: 0;
  }

  ul.profile-list {
    li {
      margin: 1.5rem 0;
      font-size: 18px;

      .icon {
        margin-right: 0.5rem;
        vertical-align: middle;
        font-size: 32px;
        line-height: 32px;
      }

      a {
        color: $text_color;
      }
    }
  }
}
